<!DOCTYPE html>
<html>
  <head>
    <title>Bootiful Beer</title>
    <link href="lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="style/style.css" rel="stylesheet" />
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Bootiful Beer Shop</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>Products</h3>

          <%= React.renderToString(React.createElement(ProductsList, { products: products} )) %>

        </div>
        <div class="col-md-4">
          <h3>Shopping Cart</h3>
		  
		  <%= React.renderToString(React.createElement(Cart)) %>
        </div>
      </div>
    </div>

    <script src="lib/js/jquery.min.js"></script>
    <script src="lib/js/jquery.ba-tinypubsub.js"></script>
    <script src="webjars/react/0.13.1/react.js"></script>
    <script src="output/product.js"></script>
    <script src="output/product-list.js"></script>
    <script src="output/cart.js"></script>
  </body>
</html>